@import "../../../../style/variables";

@mixin center-content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
}

.proof-component {
  display: inline-block;
  text-align: center;
  z-index: 10;
  font-weight: bold;
  font-size: 14px;
  vertical-align: bottom;

  &.active {
    z-index: 100
  }

}

.proof-tree {
  background-color: var(--color-1);
  border-radius: 10px;
  outline: none;
  cursor: move !important;

  &.root {
    display: inline-block;
    padding: 16px;
  }

  > .proof-properties {
    position: absolute;
    cursor: default;
    background-color: transparent;
    padding: 5px 10px;
    border-radius: 10px;

    &.top-right {
      top: -35px;
      right: -35px;
    }

    &.top-left {
      top: -35px;
      left: -25px;
    }

    &.bottom-right {
      bottom: -25px;
      right: -35px;
    }

    > button {
      background-color: var(--color-6);
      border: none;
      color: var(--text-color);
      margin: 2px 4px 0 0;
      padding: 6px;
      border-radius: 5px;
    }

    > button:hover {
      transform: scale(1.1);
    }
  }

}

.proof-hypothesis {
  white-space: nowrap;
}

.proof-hypothesis > .proof-component {
  margin-bottom: -6px;
  margin-left: 6px;
  margin-right: 6px;
}

@keyframes highlightPulse {
  0% {
    background-color: var(--color-6);
    transform: scale(1.1);
  }
  50% {
    background-color: var(--color-2);
    transform: scale(1);
  }
  100% {
    background-color: var(--color-6);
    transform: scale(1.1);
  }
}

.proof-exp {
  min-width: 50px;
  height: 25px;
  border-radius: 13px;
  background-color: var(--color-4);
  color: var(--text-color);
  cursor: grab !important;
  position: relative;

  > .proof-component-content {
    @include center-content;
    padding: 0 10px;
    border-radius: 13px;

    > .proof-mark {
      position: absolute !important;
      top: -12px;
      right: -12px;
    }
  }

  .proof-exp-input {
    border: unset;
    text-align: center;
    width: auto !important;
  }

  &.highlight > .proof-component-content {
    animation: highlightPulse 1s ease-in-out infinite;
    color: var(--text-color);
  }

  &.highlight-hover > .proof-component-content {
    animation: unset;
    transform: scale(1.2);
    background-color: var(--color-6) !important;
  }

}

.proof-rule {
  border-radius: 5px;
  width: 30px;
  height: 25px;
  background-color: var(--color-5);
  color: var(--text-color);
  cursor: pointer;

  > .proof-component-content {
    @include center-content;
  }
}

.proof-mark {
  border-radius: 50%;
  width: 25px;
  height: 25px;
  background-color: var(--color-3);
  color: var(--text-color);
  cursor: pointer;

  > .proof-component-content {
    @include center-content;
  }
}


/*TODO FORMAT EXPANDER*/
.rule-adder{
  position: absolute;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}

.mark-adder{
  position: absolute;
  top: -15px;
  right: -15px;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
  z-index: 1;
}



