@import 'variables';

body {
  font-family: var(--font-family), serif;
}

.tooltip {
  opacity: 1 !important;
}

.tooltip .tooltip-inner {
  background-color: var(--color-5) !important;
  color: var(--text-color);
  max-width: none;
  padding: 0.5em 1em;
}

.bs-tooltip-end .tooltip-arrow::before {
  border-right-color: var(--color-5) !important;
}

.bs-tooltip-start .tooltip-arrow::before {
  border-left-color: var(--color-5) !important;
}

.bs-tooltip-top .tooltip-arrow::before {
  border-bottom-color: var(--color-5) !important;
}

.bs-tooltip-bottom .tooltip-arrow::before {
  border-top-color: var(--color-5) !important;
}
