:root {
  --font-family: 'Inter', sans-serif;
  --color-danger: 255, 0, 0;
  --color-success: 0, 255, 0;
}

.light {
  /*--color-1: #f6f7f2;
  --color-2: #d9d8dd;
  --color-3: #a5b5c4;
  --color-4: #3c4f6d;
  --color-5: #0a1944;*/

  --color-1: #eeeeee;
  --color-2: #bcbcbc;
  --color-3: #999999;
  --color-4: #5b5b5b;
  --color-5: #333333;
  --color-6: #4163e3;

  --bg-color: white;
  --text-color: white;

  --light-shadow: 0 0 10px var(--color-1), 0 4px 15px var(--color-3);
  --strong-shadow: 0 0 15px var(--color-1), 0 4px 20px var(--color-3);
}

.dark {
  --bg-color: #1e1e1e;
  --text-color: white;

  --primary-color: #2980b9;
  --secondary-color: #3498db;
}
