@mixin center-content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
}

.proof-component {
  display: inline-block;
  text-align: center;
  z-index: 10;
  font-weight: bold;
  font-size: 14px;
  vertical-align: bottom;

  &.empty{
    //border: 2px dashed var(--color-5);
    //background-color: var(--text-color);
    //color: var(--color-5);
  }

  &.active {
    z-index: 100
  }

}