@import "../../../../../style/variables";
@import "../Proof";

.proof-exp {
  min-width: 60px;
  height: 25px;
  border-radius: 13px;
  background-color: var(--color-4);
  color: var(--text-color);
  cursor: grab !important;
  position: relative;

  > .proof-component-content {
    @include center-content;
    padding: 0 10px;
    border-radius: 13px;

    > .proof-mark {
      position: absolute !important;
      top: -12px;
      right: -12px;
    }
  }

  .proof-exp-input {
    border: unset;
    text-align: center;
    width: auto !important;
  }

  @keyframes bgHighlightPulse {
    0%, 100% {
      background-color: var(--color-6);
      transform: scale(1.15);
    }
    50% {
      background-color: var(--color-2);
      transform: scale(1.02);
    }
  }

  &.highlight.empty {
    border: none;
  }

  &.highlight:not(.active) > .proof-component-content {
    animation: bgHighlightPulse 1s ease-in-out infinite;
    color: var(--text-color);
  }

  &.active {
    background-color: var(--color-6);
    color: var(--text-color);
  }

  &.highlight-hover:not(.active)> .proof-component-content  {
    animation: unset !important;
    transform: scale(1.4);
    background-color: var(--color-6) !important;
    border: unset !important;
  }

  &.incorrect {
    background-color: rgba(var(--color-danger), 0.7) !important;
    animation: pulse 0.5s infinite alternate;
  }

  @keyframes pulse {
    0% {
      box-shadow: 0 0 10px rgba(var(--color-danger), 0.7);
    }
    100% {
      box-shadow: 0 0 20px rgba(var(--color-danger), 1);
    }
  }

}

.rule-adder{
  position: absolute;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}

.mark-adder{
  position: absolute;
  top: -15px;
  right: -15px;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
  z-index: 1;
}



