@import "../../../../../style/variables";
@import "../Proof";

.proof-tree {
  border-radius: 10px;
  outline: none;
  cursor: move !important;
  /*border: none;

  &:hover {
    border: solid black 2px;
  }

  &:hover .board {
    border: none;
  }*/

  &.root {
    background-color: var(--color-1);
    display: inline-block;
    padding: 20px;
  }

  > .tool-tip {
    position: absolute;
    left: -10px;
    top: -10px;
    transform: scale(1.6);
  }

  > .valid {
    background-color: rgba(var(--color-success), 1) !important;
    text-transform: uppercase;
    color: var(--text-color);
    position: absolute;
  }

  > .invalid {
    background-color: rgba(var(--color-danger), 1) !important;
    text-transform: uppercase;
    color: var(--text-color);
    position: absolute;
  }

  > .proof-properties {
    position: absolute;
    cursor: default;
    background-color: transparent;
    padding: 5px 10px;
    border-radius: 10px;

    &.top-right {
      top: -35px;
      right: -35px;
    }

    &.top-center {
      top: 3px;
      left: 50%;
      transform: translate(-50%, -100%);
    }

    &.top-left {
      top: -35px;
      left: -25px;
    }

    &.bottom-center {
      bottom: -25px;
      left: 50%;
      transform: translate(-50%);
    }

    > button {
      background-color: var(--color-6);
      border: none;
      color: var(--text-color);
      margin: 2px 4px 0 0;
      padding: 6px;
      border-radius: 5px;
    }

    > button:hover {
      transform: scale(1.1);
    }
  }

}

.proof-hypothesis {
  white-space: nowrap;
  > div {
    margin-bottom: -10px !important;
  }
}

.proof-conclusion {
  > div {
    margin-top: -10px !important;

  }
}

.proof-component .proof-exp {
  margin-left: 6px;
  margin-right: 6px;
}

.proof-check {
  width: 120px;
}

.proof-rules {

  > td {
    > hr {
      margin: 0;
      padding: 0;
    }
  }
}
