body {
  //overflow: hidden;
}

.menu {
  width: 100%;
  min-height: 100vh;
  justify-content: center;
  align-items: center;

  background-color: var(--bg-color) !important;
  background-image: radial-gradient(circle, var(--color-2) 1px, transparent 1px);
  background-size: 20px 20px;
  box-sizing: border-box;
  flex-grow: 1; /* Let it take up available space */
  display: flex;
  flex-direction: column;
  overflow-y: auto;

  > .menu-content {
    width: 80%;
    flex-grow: 1;
    overflow-y: auto;
    padding-top: 3rem;
    padding-bottom: 3rem;

    >.title {
      font-size: 4em !important;
      text-align: center;
      font-weight: 600;
    }

    >.tab{
      >.title {
        font-size: 2em !important;
        font-weight: 600;
      }

      >.exercise-name {
        margin: 5px;
        background-color: var(--color-5);
        border-radius: 10px;
        color: var(--text-color);
        border: unset;
        //width: fit-content;
        padding: 5px 10px;

        &:hover {
          background-color: var(--color-6);
          transform: scale(1.1);
        }
      }
      text-align: center;
    }

  }

  > .credits {
    width: 100vh;
    text-align: center;
  }

}