@import "../../../../../style/variables";
@import "../Proof";

.proof-mark {
  border-radius: 50%;
  width: 25px;
  height: 25px;
  background-color: var(--color-3);
  color: var(--text-color);
  cursor: pointer;

  > .proof-component-content {
    @include center-content;
  }
}
