@import "../../../../../style/variables";

.state-controls {
  z-index: 100;
  position: absolute;
  height: auto;
  top:20px;
  right: 20px;
  padding: 10px;
}

.state-controls-btn {
  border-radius: 10px;
  background-color: var(--color-6) !important;
  display: flex;
  justify-content: center;
  align-items: center;
  border: unset !important;
  padding: 10px 18px !important;
  color: var(--text-color) !important;
  border: none !important;
  opacity: 1 !important;
}

.state-controls-btn:disabled {
  color: var(--text-color) !important;
  background-color: var(--color-2) !important;
}

.state-controls-btn:hover:not(:disabled) {
  transform: scale(1.2);
}
